* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
}

.nav {
  display: flex;
  background-color: #1b2731;
  color: white;
}

.nav__color {
  background-color: #1b2731;
}

.nav__logo {
  object-fit: contain;
  height: 100px;
  padding: 20px 15px;
  margin-left: 18px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

.nav__links {
  display: flex;
  position: relative;
  top: 0;
  margin-left: 2rem;
  margin-top: 31px;
}

.nav__links > li {
  padding-right: 30px;
  cursor: pointer;
}

.nav__avatar {
  object-fit: contain;
  height: 90px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 48rem;
}

.search__bar {
  position: relative;
  top: 0;
  left: 45rem;
  padding: 10px 15px;
  background-color: #1b2731;
  border-radius: 0.4rem;
  border: 1px solid gray;
  margin-top: auto;
  margin-bottom: auto;
}
